<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Instrumentation Technologies Libera BLM"/>
    <link rel="stylesheet" href="static/w3.css"/>
    <link rel="stylesheet" href="static/dygraph/dygraph.css"/>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/font-awesome.min.css">
    <meta charset = "UTF-8"/>
    <title>Medaustron webGUI</title>
    <link rel="icon" href="static/pictures/Favicon.png" type="image/png">
  </head>
  
  <body>
    <div id="vueapp" class="itech-margin-appbar">
      <div class="header">
        <div class="menu">
          <div class="menuIconContainer" type="button" v-on:click="onClickOpenSideMenu();" >
            <div class="menuBar1"></div>
            <div class="menuBar2"></div>
            <div class="menuBar3"></div>
          </div>
        </div>

        <div class="w3-hide-small" id="application_name_container">
          <a id="liberaLogo" class="w3-hide-small" href="/">
            <img class="logo" src="static/pictures/Medaustron_logo.png" alt="Instrumentation Technologies">
          </a>
          <p class="liberaLogo">
            webGUI
          </p>
        </div>
        
        <div class="w3-hide-medium w3-hide-large" id="application_name_container">
          <p class="liberaLogo2">
              LIBERA BLM
            </p>
          </div>

          <a id="itechLogo" class="w3-hide-small" href="https://www.i-tech.si">
            <img class="logo" src="static/pictures/Logo_iTech_White_Horizontal.png" alt="Instrumentation Technologies">
          </a>
        </div>

        <div class="main">
          
          <!-- Sidebar -->
          <div v-if="side_menu_visible" class="w3-sidebar w3-bar-block w3-animate-left" id="itech-sidebar" v-on:animationend="onSlideMenuAnimEnd">
            
          
          
            <accordion-container title="TRIGGERS">
              <div class="ireg-node-container">
                <tablev>
                  <node name="Trigger T0" path="application.triggers.t0.source" libera-device="this.liberaDev1" :pooling-period=250></node>
                </tablev>
                <node-select id="masterT0Trigger" path="application.triggers.t0.source" show_select_apply="true" v-bind:expose_as="{Off:'off',Pulse:'Pulse',External:'External',Internal:'Internal'}"></node-select>
                <tablev>  
                  <node-set name="Delay" path="application.triggers.t0.delay" libera-device="this.liberaDev1" :pooling-period=250></node-set>
                  <node name="Count" path="application.events.t0.count" libera-device="this.liberaDev1" :pooling-period=250></node>			    
                </tablev>
              </div>
              <div class="ireg-node-container">
                <tablev>
                  <node name="Trigger T1" path="application.triggers.t1.source" libera-device="this.liberaDev1" :pooling-period=250></node>
                </tablev>
                <node-select id="masterT1Trigger" path="application.triggers.t1.source" show_select_apply="true" v-bind:expose_as="{Off:'off',Pulse:'Pulse',External:'External',Internal:'Internal'}"></node-select>
                <tablev>  
                  <node-set name="Delay" path="application.triggers.t1.delay" libera-device="this.liberaDev1" :pooling-period=250></node-set>
                  <node name="Count" path="application.events.t1.count" libera-device="this.liberaDev1" :pooling-period=250></node>               
                </tablev>
              </div>
              <div class="ireg-node-container">
                <tablev>
                  <node name="Trigger T2" path="application.triggers.t2.source" libera-device="this.liberaDev1" :pooling-period=250></node>
                </tablev>
                <node-select id="masterT2Trigger" path="application.triggers.t2.source" show_select_apply="true" v-bind:expose_as="{Off:'off',Pulse:'Pulse',External:'External',Internal:'Internal'}"></node-select>
                <tablev>  
                  <node-set name="Delay" path="application.triggers.t2.delay" libera-device="this.liberaDev1" :pooling-period=250></node-set>
                  <node name="Count" path="application.events.t2.count" libera-device="this.liberaDev1" :pooling-period=250></node>
                </tablev>
              </div>
                <tablev>
                  <node name="Trigger T3" path="application.triggers.t3.source" libera-device="this.liberaDev1" :pooling-period=250></node>
                </tablev>
                <node-select id="masterT3Trigger" path="application.triggers.t3.source" show_select_apply="true" v-bind:expose_as="{Off:'off',Pulse:'Pulse',External:'External',Internal:'Internal'}"></node-select>
                <tablev>  
                  <node-set name="Delay" path="application.triggers.t3.delay" libera-device="this.liberaDev1" :pooling-period=250></node-set>
                  <node name="Count" path="application.events.t3.count" libera-device="this.liberaDev1" :pooling-period=250></node>                     
                </tablev>
            </accordion-container>
            
            
            
            <accordion-container title="DSP0">
              <accordion-container title="Loop 0">
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    Matrix rotator
                  </div>
              	  <tablev>
              	    <node-set name="Phi" path="application.dsp0.loop_0.pi.matrix_rotator.phi" :polling-period=500></node-set>
              	  </tablev>
              	  <div class="ireg-node-set-name" style="text-align: left; font-weight: normal">
                    Components
                  </div>
              	  <tablev>
              	    <node-set name="Sin" path="application.dsp0.loop_0.pi.matrix_rotator.component.sin" :polling-period=500></node-set>
              	    <node-set name="Cos" path="application.dsp0.loop_0.pi.matrix_rotator.component.cos" :polling-period=500></node-set>
              	  </tablev>
                </div>
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    i
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp0.loop_0.pi.i.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp0.loop_0.pi.i.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp0.loop_0.pi.i.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp0.loop_0.pi.i.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp0.loop_0.pi.i.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp0.loop_0.pi.i.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp0.loop_0.pi.i.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp0.loop_0.pi.i.reset" :polling-period=500></node-set>
                  </tablev>
                </div>
                  <div class="ireg-node-set-name">
                    q
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp0.loop_0.pi.q.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp0.loop_0.pi.q.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp0.loop_0.pi.q.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp0.loop_0.pi.q.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp0.loop_0.pi.q.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp0.loop_0.pi.q.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp0.loop_0.pi.q.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp0.loop_0.pi.q.reset" :polling-period=500></node-set>
                  </tablev>
                
              </accordion-container>
              
              <accordion-container title="Loop 1">
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    Matrix rotator
                  </div>
              	  <tablev>
              	    <node-set name="Phi" path="application.dsp0.loop_1.pi.matrix_rotator.phi" :polling-period=500></node-set>
              	  </tablev>
              	  <div class="ireg-node-set-name" style="text-align: left; font-weight: normal">
                    Components
                  </div>
              	  <tablev>
              	    <node-set name="Sin" path="application.dsp0.loop_1.pi.matrix_rotator.component.sin" :polling-period=500></node-set>
              	    <node-set name="Cos" path="application.dsp0.loop_1.pi.matrix_rotator.component.cos" :polling-period=500></node-set>
              	  </tablev>
                </div>
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    i
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp0.loop_1.pi.i.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp0.loop_1.pi.i.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp0.loop_1.pi.i.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp0.loop_1.pi.i.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp0.loop_1.pi.i.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp0.loop_1.pi.i.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp0.loop_1.pi.i.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp0.loop_1.pi.i.reset" :polling-period=500></node-set>
                  </tablev>
                </div>
                  <div class="ireg-node-set-name">
                    q
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp0.loop_1.pi.q.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp0.loop_1.pi.q.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp0.loop_1.pi.q.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp0.loop_1.pi.q.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp0.loop_1.pi.q.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp0.loop_1.pi.q.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp0.loop_1.pi.q.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp0.loop_1.pi.q.reset" :polling-period=500></node-set>
                  </tablev>
              </accordion-container>
              
              <accordion-container title="Loop 2">
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    Matrix rotator
                  </div>
              	  <tablev>
              	    <node-set name="Phi" path="application.dsp0.loop_2.pi.matrix_rotator.phi" :polling-period=500></node-set>
              	  </tablev>
              	  <div class="ireg-node-set-name" style="text-align: left; font-weight: normal">
                    Components
                  </div>
              	  <tablev>
              	    <node-set name="Sin" path="application.dsp0.loop_2.pi.matrix_rotator.component.sin" :polling-period=500></node-set>
              	    <node-set name="Cos" path="application.dsp0.loop_2.pi.matrix_rotator.component.cos" :polling-period=500></node-set>
              	  </tablev>
                </div>
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    i
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp0.loop_2.pi.i.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp0.loop_2.pi.i.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp0.loop_2.pi.i.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp0.loop_2.pi.i.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp0.loop_2.pi.i.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp0.loop_2.pi.i.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp0.loop_2.pi.i.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp0.loop_2.pi.i.reset" :polling-period=500></node-set>
                  </tablev>
                </div>
                  <div class="ireg-node-set-name">
                    q
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp0.loop_2.pi.q.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp0.loop_2.pi.q.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp0.loop_2.pi.q.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp0.loop_2.pi.q.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp0.loop_2.pi.q.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp0.loop_2.pi.q.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp0.loop_2.pi.q.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp0.loop_2.pi.q.reset" :polling-period=500></node-set>
                  </tablev>
              </accordion-container>
              
              <accordion-container title="Loop 3">
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    Matrix rotator
                  </div>
              	  <tablev>
              	    <node-set name="Phi" path="application.dsp0.loop_3.pi.matrix_rotator.phi" :polling-period=500></node-set>
              	  </tablev>
              	  <div class="ireg-node-set-name" style="text-align: left; font-weight: normal">
                    Components
                  </div>
              	  <tablev>
              	    <node-set name="Sin" path="application.dsp0.loop_3.pi.matrix_rotator.component.sin" :polling-period=500></node-set>
              	    <node-set name="Cos" path="application.dsp0.loop_3.pi.matrix_rotator.component.cos" :polling-period=500></node-set>
              	  </tablev>
                </div>
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    i
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp0.loop_3.pi.i.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp0.loop_3.pi.i.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp0.loop_3.pi.i.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp0.loop_3.pi.i.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp0.loop_3.pi.i.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp0.loop_3.pi.i.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp0.loop_3.pi.i.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp0.loop_3.pi.i.reset" :polling-period=500></node-set>
                  </tablev>
                </div>
                  <div class="ireg-node-set-name">
                    q
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp0.loop_3.pi.q.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp0.loop_3.pi.q.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp0.loop_3.pi.q.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp0.loop_3.pi.q.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp0.loop_3.pi.q.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp0.loop_3.pi.q.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp0.loop_3.pi.q.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp0.loop_3.pi.q.reset" :polling-period=500></node-set>
                  </tablev>
              </accordion-container>
              
              <accordion-container title="Loop 4">
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    Matrix rotator
                  </div>
              	  <tablev>
              	    <node-set name="Phi" path="application.dsp0.loop_4.pi.matrix_rotator.phi" :polling-period=500></node-set>
              	  </tablev>
              	  <div class="ireg-node-set-name" style="text-align: left; font-weight: normal">
                    Components
                  </div>
              	  <tablev>
              	    <node-set name="Sin" path="application.dsp0.loop_4.pi.matrix_rotator.component.sin" :polling-period=500></node-set>
              	    <node-set name="Cos" path="application.dsp0.loop_4.pi.matrix_rotator.component.cos" :polling-period=500></node-set>
              	  </tablev>
                </div>
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    i
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp0.loop_4.pi.i.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp0.loop_4.pi.i.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp0.loop_4.pi.i.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp0.loop_4.pi.i.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp0.loop_4.pi.i.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp0.loop_4.pi.i.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp0.loop_4.pi.i.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp0.loop_4.pi.i.reset" :polling-period=500></node-set>
                  </tablev>
                </div>
                  <div class="ireg-node-set-name">
                    q
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp0.loop_4.pi.q.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp0.loop_4.pi.q.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp0.loop_4.pi.q.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp0.loop_4.pi.q.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp0.loop_4.pi.q.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp0.loop_4.pi.q.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp0.loop_4.pi.q.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp0.loop_4.pi.q.reset" :polling-period=500></node-set>
                  </tablev>
              </accordion-container>
              
              <accordion-container title="Loop 5">
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    Matrix rotator
                  </div>
              	  <tablev>
              	    <node-set name="Phi" path="application.dsp0.loop_5.pi.matrix_rotator.phi" :polling-period=500></node-set>
              	  </tablev>
              	  <div class="ireg-node-set-name" style="text-align: left; font-weight: normal">
                    Components
                  </div>
              	  <tablev>
              	    <node-set name="Sin" path="application.dsp0.loop_5.pi.matrix_rotator.component.sin" :polling-period=500></node-set>
              	    <node-set name="Cos" path="application.dsp0.loop_5.pi.matrix_rotator.component.cos" :polling-period=500></node-set>
              	  </tablev>
                </div>
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    i
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp0.loop_5.pi.i.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp0.loop_5.pi.i.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp0.loop_5.pi.i.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp0.loop_5.pi.i.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp0.loop_5.pi.i.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp0.loop_5.pi.i.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp0.loop_5.pi.i.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp0.loop_5.pi.i.reset" :polling-period=500></node-set>
                  </tablev>
                </div>
                  <div class="ireg-node-set-name">
                    q
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp0.loop_5.pi.q.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp0.loop_5.pi.q.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp0.loop_5.pi.q.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp0.loop_5.pi.q.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp0.loop_5.pi.q.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp0.loop_5.pi.q.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp0.loop_5.pi.q.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp0.loop_5.pi.q.reset" :polling-period=500></node-set>
                  </tablev>
              </accordion-container>
            </accordion-container>
            
            
            
            <accordion-container title="DSP1">
              <accordion-container title="Loop 0">
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    Matrix rotator
                  </div>
              	  <tablev>
              	    <node-set name="Phi" path="application.dsp1.loop_0.pi.matrix_rotator.phi" :polling-period=500></node-set>
              	  </tablev>
              	  <div class="ireg-node-set-name" style="text-align: left; font-weight: normal">
                    Components
                  </div>
              	  <tablev>
              	    <node-set name="Sin" path="application.dsp1.loop_0.pi.matrix_rotator.component.sin" :polling-period=500></node-set>
              	    <node-set name="Cos" path="application.dsp1.loop_0.pi.matrix_rotator.component.cos" :polling-period=500></node-set>
              	  </tablev>
                </div>
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    i
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp1.loop_0.pi.i.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp1.loop_0.pi.i.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp1.loop_0.pi.i.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp1.loop_0.pi.i.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp1.loop_0.pi.i.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp1.loop_0.pi.i.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp1.loop_0.pi.i.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp1.loop_0.pi.i.reset" :polling-period=500></node-set>
                  </tablev>
                </div>
                  <div class="ireg-node-set-name">
                    q
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp1.loop_0.pi.q.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp1.loop_0.pi.q.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp1.loop_0.pi.q.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp1.loop_0.pi.q.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp1.loop_0.pi.q.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp1.loop_0.pi.q.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp1.loop_0.pi.q.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp1.loop_0.pi.q.reset" :polling-period=500></node-set>
                  </tablev>
              </accordion-container>
              
              <accordion-container title="Loop 1">
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    Matrix rotator
                  </div>
              	  <tablev>
              	    <node-set name="Phi" path="application.dsp1.loop_1.pi.matrix_rotator.phi" :polling-period=500></node-set>
              	  </tablev>
              	  <div class="ireg-node-set-name" style="text-align: left; font-weight: normal">
                    Components
                  </div>
              	  <tablev>
              	    <node-set name="Sin" path="application.dsp1.loop_1.pi.matrix_rotator.component.sin" :polling-period=500></node-set>
              	    <node-set name="Cos" path="application.dsp1.loop_1.pi.matrix_rotator.component.cos" :polling-period=500></node-set>
              	  </tablev>
                </div>
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    i
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp1.loop_1.pi.i.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp1.loop_1.pi.i.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp1.loop_1.pi.i.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp1.loop_1.pi.i.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp1.loop_1.pi.i.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp1.loop_1.pi.i.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp1.loop_1.pi.i.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp1.loop_1.pi.i.reset" :polling-period=500></node-set>
                  </tablev>
                </div>
                  <div class="ireg-node-set-name">
                    q
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp1.loop_1.pi.q.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp1.loop_1.pi.q.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp1.loop_1.pi.q.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp1.loop_1.pi.q.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp1.loop_1.pi.q.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp1.loop_1.pi.q.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp1.loop_1.pi.q.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp1.loop_1.pi.q.reset" :polling-period=500></node-set>
                  </tablev>
              </accordion-container>
              
              <accordion-container title="Loop 2">
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    Matrix rotator
                  </div>
              	  <tablev>
              	    <node-set name="Phi" path="application.dsp1.loop_2.pi.matrix_rotator.phi" :polling-period=500></node-set>
              	  </tablev>
              	  <div class="ireg-node-set-name" style="text-align: left; font-weight: normal">
                    Components
                  </div>
              	  <tablev>
              	    <node-set name="Sin" path="application.dsp1.loop_2.pi.matrix_rotator.component.sin" :polling-period=500></node-set>
              	    <node-set name="Cos" path="application.dsp1.loop_2.pi.matrix_rotator.component.cos" :polling-period=500></node-set>
              	  </tablev>
                </div>
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    i
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp1.loop_2.pi.i.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp1.loop_2.pi.i.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp1.loop_2.pi.i.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp1.loop_2.pi.i.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp1.loop_2.pi.i.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp1.loop_2.pi.i.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp1.loop_2.pi.i.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp1.loop_2.pi.i.reset" :polling-period=500></node-set>
                  </tablev>
                </div>
                  <div class="ireg-node-set-name">
                    q
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp1.loop_2.pi.q.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp1.loop_2.pi.q.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp1.loop_2.pi.q.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp1.loop_2.pi.q.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp1.loop_2.pi.q.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp1.loop_2.pi.q.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp1.loop_2.pi.q.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp1.loop_2.pi.q.reset" :polling-period=500></node-set>
                  </tablev>
              </accordion-container>
              
              <accordion-container title="Loop 3">
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    Matrix rotator
                  </div>
              	  <tablev>
              	    <node-set name="Phi" path="application.dsp1.loop_3.pi.matrix_rotator.phi" :polling-period=500></node-set>
              	  </tablev>
              	  <div class="ireg-node-set-name" style="text-align: left; font-weight: normal">
                    Components
                  </div>
              	  <tablev>
              	    <node-set name="Sin" path="application.dsp1.loop_3.pi.matrix_rotator.component.sin" :polling-period=500></node-set>
              	    <node-set name="Cos" path="application.dsp1.loop_3.pi.matrix_rotator.component.cos" :polling-period=500></node-set>
              	  </tablev>
                </div>
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    i
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp1.loop_3.pi.i.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp1.loop_3.pi.i.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp1.loop_3.pi.i.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp1.loop_3.pi.i.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp1.loop_3.pi.i.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp1.loop_3.pi.i.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp1.loop_3.pi.i.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp1.loop_3.pi.i.reset" :polling-period=500></node-set>
                  </tablev>
                </div>
                  <div class="ireg-node-set-name">
                    q
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp1.loop_3.pi.q.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp1.loop_3.pi.q.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp1.loop_3.pi.q.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp1.loop_3.pi.q.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp1.loop_3.pi.q.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp1.loop_3.pi.q.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp1.loop_3.pi.q.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp1.loop_3.pi.q.reset" :polling-period=500></node-set>
                  </tablev>
              </accordion-container>
              
              <accordion-container title="Loop 4">
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    Matrix rotator
                  </div>
              	  <tablev>
              	    <node-set name="Phi" path="application.dsp1.loop_4.pi.matrix_rotator.phi" :polling-period=500></node-set>
              	  </tablev>
              	  <div class="ireg-node-set-name" style="text-align: left; font-weight: normal">
                    Components
                  </div>
              	  <tablev>
              	    <node-set name="Sin" path="application.dsp1.loop_4.pi.matrix_rotator.component.sin" :polling-period=500></node-set>
              	    <node-set name="Cos" path="application.dsp1.loop_4.pi.matrix_rotator.component.cos" :polling-period=500></node-set>
              	  </tablev>
                </div>
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    i
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp1.loop_4.pi.i.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp1.loop_4.pi.i.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp1.loop_4.pi.i.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp1.loop_4.pi.i.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp1.loop_4.pi.i.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp1.loop_4.pi.i.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp1.loop_4.pi.i.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp1.loop_4.pi.i.reset" :polling-period=500></node-set>
                  </tablev>
                </div>
                  <div class="ireg-node-set-name">
                    q
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp1.loop_4.pi.q.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp1.loop_4.pi.q.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp1.loop_4.pi.q.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp1.loop_4.pi.q.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp1.loop_4.pi.q.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp1.loop_4.pi.q.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp1.loop_4.pi.q.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp1.loop_4.pi.q.reset" :polling-period=500></node-set>
                  </tablev>
              </accordion-container>
              
              <accordion-container title="Loop 5">
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    Matrix rotator
                  </div>
              	  <tablev>
              	    <node-set name="Phi" path="application.dsp1.loop_5.pi.matrix_rotator.phi" :polling-period=500></node-set>
              	  </tablev>
              	  <div class="ireg-node-set-name" style="text-align: left; font-weight: normal">
                    Components
                  </div>
              	  <tablev>
              	    <node-set name="Sin" path="application.dsp1.loop_5.pi.matrix_rotator.component.sin" :polling-period=500></node-set>
              	    <node-set name="Cos" path="application.dsp1.loop_5.pi.matrix_rotator.component.cos" :polling-period=500></node-set>
              	  </tablev>
                </div>
                <div class="ireg-node-container">
                  <div class="ireg-node-set-name">
                    i
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp1.loop_5.pi.i.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp1.loop_5.pi.i.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp1.loop_5.pi.i.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp1.loop_5.pi.i.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp1.loop_5.pi.i.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp1.loop_5.pi.i.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp1.loop_5.pi.i.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp1.loop_5.pi.i.reset" :polling-period=500></node-set>
                  </tablev>
                </div>
                  <div class="ireg-node-set-name">
                    q
                  </div>
                  <tablev>
                    <node-toggle name="Enable" path="application.dsp1.loop_5.pi.q.enable"></node-toggle>  
                    <node-set name="sp" path="application.dsp1.loop_5.pi.q.sp" :polling-period=500></node-set>
                    <node-set name="ff" path="application.dsp1.loop_5.pi.q.ff" :polling-period=500></node-set>
                    <node-set name="kp" path="application.dsp1.loop_5.pi.q.kp" :polling-period=500></node-set>
                    <node-set name="ki" path="application.dsp1.loop_5.pi.q.ki" :polling-period=500></node-set>
                    <node-set name="ka" path="application.dsp1.loop_5.pi.q.ka" :polling-period=500></node-set>
                    <node-set name="Clipping" path="application.dsp1.loop_5.pi.q.clipping" :polling-period=500></node-set>
                    <node-set name="Reset" path="application.dsp1.loop_5.pi.q.reset" :polling-period=500></node-set>
                  </tablev>
              </accordion-container> 
            </accordion-container>
            
            
            
            <accordion-container title="GRAPH SETTINGS" id="graph_settings">
              <div class="ireg-node-container">
                <a href="/?num_graphs=1" class="w3-button w3-xlarge w3-border itech-button sidebarButtons">Show 1 graph</a>
                <a href="/?num_graphs=2" class="w3-button w3-xlarge w3-border itech-button sidebarButtons">Show 2 graphs</a>
                <a href="/?num_graphs=3" class="w3-button w3-xlarge w3-border itech-button sidebarButtons">Show 3 graphs</a>
                <a href="/?num_graphs=4" class="w3-button w3-xlarge w3-border itech-button sidebarButtons">Show 4 graphs</a>
                <button class="w3-button itech-button w3-border sidebarButtons" id="numberOfGraphsButton" onclick="setNumberOfGraphsPerRow()" >Set two graphs per row</button>
              </div>
            </accordion-container>
            
            
            
            <accordion-container title="MORE OPTIONS" id="gui_settings">
              <form method="get" action="static/Libera_BLM_User_Manual.pdf">
                <button class="w3-button w3-xlarge w3-border itech-button sidebarButtons" type="submit" >Download user manual</button>
              </form>
              <a href="/static/graph.html" class="w3-button w3-xlarge w3-border itech-button sidebarButtons"> View saved signal</a>
            </accordion-container>        
          </div>
          

          <!-- MAIN CONTENT -->
          <div id="itech-main-content" class="w3-white" v-bind:class="[{ 'sidebar-visible': side_menu_visible }]">
            <div v-for="idx in num_graphs">
              <graph-current class="itech-graph"></graph-current>
            </div>
          </div>
        </div>

        
      <!-- FOOTER -->
      <footer class="w3-row w3-animate-top" id="itech-footer" style="border-top: 1px solid lightgray">
        <div class="w3-xlarge footerButtons footerFloatRight">
          <node name="Application version" path="version" :pooling-period=250> </node>
        </div>
      </footer>
    </div>  
    
    <script type="text/javascript" src="static/dygraph/dygraph.js"></script>
    <script type="text/x-template" id="node-super-template">
      <!-- get template -->
      <tr v-if="template == 'get'">
        <td class="setGetName"><span style="font-size: 18px;">{{name}}</span></td> 
        <td class="setGetValue"><span style="font-size: 18px;"><b><div style="display: inline">{{value}}</div></b></span></td> 
      </tr>

      <!-- setget template -->
      <tr  v-else-if="template == 'setget'">
        <td class="setGetName" ><span style="font-size: 18px;">{{name}}</span> </td>
        <td class="setGetValue setGetValueRange">
          <div class="w3-dropdown-click w3-block">
            <button class="w3-button w3-block lpad0 buttonLimitWidth buttonTextAlignRight" v-on:click="buttonClick(); "><span style="font-size: 18px;"><b><div style="display: inline">{{value}}</div></b></span></button>
            <div class="w3-dropdown-content w3-bar-block" v-bind:class="{ 'w3-show' : inputOpen }"> 
              <form  v-on:submit.prevent> 
                <input class="w3-input w3-border w3-full" style="width:100%" :type=typeHtml v-on:keyup.enter="submitForm" v-model="inputEntry" ref="input" value="0"></input>
              </form> 
              <div class="w3-text-red" v-if="inputError"> {{inputError}} </div>
            </div>
          </div>
        </td>
      </tr>

      <!-- select template -->
      <tr  v-else-if="template == 'select'" class="w3-table sidebar-libera-content sidebar-libera-select-container">
        <td valign="top" class="sidebar-libera-select sidebar-libera-content" ><span style="font-size: 18px;">{{name}}</span> </td>
        <td>
          <div class="w3-dropdown-click w3-block">
            <select class="w3-select w3-block w3-button w3-border lpad0" id="selectTriggerSource" v-model="value" >
              <option :value="option.value"  v-for="option in selectOptions">
                {{option.name}}
              </option>
            </select>
          </div>
        </td>
        <td>
          <button v-if="show_select_apply == 'true'" class="w3-bar-item w3-button w3-xmedium itech-button w3-half" id="download_data_button" v-on:click="applySelectedTrigger">Apply</button>
        </td>
     </tr>

      <!-- toggle button template -->
      <tr  v-else-if="template == 'toggle'"  class="">
        <td class="toggleSwitchName"><span style="font-size: 18px;">{{name}}</span></td>
        <td class="toggleSwitchValue">
        <label class="switch" >
          <input type="checkbox" v-on:click="onClick" v-model="value" >
          <span class="slider"></span>
        </label>
        </td>
     </tr>
    </script>

    <script>
      var graph_template = `
      <div v-on:resize="onWindowResize">
        <div class="w3-row">

          <div class="w3-hide-small select-channel">
            <div class="select-channel-items">
              <div class="itech-graph-text">Select channel</div>
              <div class="itech-graph-checkboxes itech-graph-text" v-for="comp in components">
                <input class="w3-rest" type="checkbox" :id="comp" :value="comp" v-model="checkedSignals">
                <label :for="comp">{{comp}}</label>
              </div>
            </div>
            
            <div class="select-channel-items">
              <div class="select-channel-items2 w3-margin-right">
                <div class="itech-graph-text">Signal request size</div>
                <div>
                  <form v-on:submit.prevent>
                    <input class="w3-input w3-border" v-model="signalReqSize" ref="input" type="number"></input>
                  </form>
                </div> 
              </div>
              <div class="select-channel-items2">
                <div class="itech-graph-text">Graph size</div>
                <div>
                  <form v-on:submit.prevent>
                    <input class="w3-input w3-border" v-model="graphSize" ref="input" type="number"></input>
                  </form>
                </div> 
              </div>
            </div>
          </div>
        </div>

        <div class="w3-hide-medium w3-hide-large select-channel-column">
            <div class="select-channel-items">
              <div class="itech-graph-text">Select channel</div>
              <div class="itech-graph-checkboxes itech-graph-text" v-for="comp in components">
                <input class="w3-rest" type="checkbox" :id="comp" :value="comp" v-model="checkedSignals">
                <label :for="comp">{{comp}}</label>
              </div>
            </div>
            
            <div class="select-channel-items w3-margin-top ">
              <div class="select-channel-items2 w3-margin-right">
                <div class="itech-graph-text">Signal request size</div>
                <div>
                  <form v-on:submit.prevent>
                    <input class="w3-input w3-border" v-model="signalReqSize" ref="input" type="number"></input>
                  </form>
                </div> 
              </div>
              <div class="select-channel-items2">
                <div class="itech-graph-text">Graph size</div>
                <div>
                  <form  v-on:submit.prevent>
                    <input class="w3-input w3-border" v-model="graphSize" ref="input" type="number"></input>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div 
          style="resize: vertical; padding: 0px; overflow :auto;"
          v-on:click="onClick"
          v-bind:style="styleObject"
          id="resizeFrame">
          <div id="graph" v-bind:style="styleObjectGraph">
          </div>
        </div>
        <div class="w3-hide-small graph-options">
          <div class="graph-options">
            <div class="graph-options-items w3-margin-right">
              <label class="itech-graph-text" >Pause chart</label>
              <label class="switch itechSwitch itech-graph-text" > 
                <input type="checkbox" id="demoId" @click="clickPause" v-model="pausechart" >
                <span class="slider"></span>
              </label>
            </div>
            <div class="graph-options-items">
              <label class="itech-graph-text" >Range selector</label>
              <label class="switch itechSwitch itech-graph-text" > 
                <input type="checkbox" id="demoId" v-model="dygraphOptions.showRangeSelector" >
                <span class="slider"></span>
              </label>
            </div>
          </div>
          
          <div class="graph-options">
            <div class="graph-options-items w3-margin-right">
              <label class="itech-graph-text" >Download on graph size acquired</label>
              <label class="switch itechSwitch itech-graph-text" >
                <input type="checkbox" id="demoId" @click="onClickAutoDownload" v-model="autoDownload" >
                <span class="slider"></span>
              </label>
            </div>
            <div class="w3-margin-right">
              <button class="w3-bar-item w3-button w3-xmedium itech-button w3-mobile" id="download_data_button" v-on:click="downloadData">Download data now</button>
            </div>
        </div>
      </div>
      
        <div class="w3-hide-medium w3-hide-large graph-options-column">
          <div class="graph-options">
            <div class="graph-options-items w3-margin-right">
              <label class="itech-graph-text" >Pause chart</label>
              <label class="switch itechSwitch itech-graph-text" > 
                <input type="checkbox" id="demoId" @click="clickPause" v-model="pausechart" >
                <span class="slider"></span>
              </label>
            </div>
            <div class="graph-options-items">
              <label class="itech-graph-text" >Range selector</label>
              <label class="switch itechSwitch itech-graph-text" > 
                <input type="checkbox" id="demoId" v-model="dygraphOptions.showRangeSelector" >
                <span class="slider"></span>
              </label>
            </div>
          </div>
          
          <div class="graph-options w3-margin-top ">
            <div class="graph-options-items w3-margin-right">
              <label class="itech-graph-text" >Download on graph size acquired</label>
              <label class="switch itechSwitch itech-graph-text" >
                <input type="checkbox" id="demoId" @click="onClickAutoDownload" v-model="autoDownload" >
                <span class="slider"></span>
              </label>
            </div>
            <div class="w3-margin-right">
              <button class="w3-bar-item w3-button w3-xmedium itech-button w3-mobile" id="download_data_button" v-on:click="downloadData">Download data now</button>
            </div>
          </div>
        </div>
      </div>`;



      var current_graph_template = `
      <div>
        <select class="w3-button w3-quarter w3-block w3-border lpad0 buttonLimitWidth w3-left-align itech-graph-text" v-model="selectedSig">
          <option v-for="o in selectSigOptions" v-bind:value="o">{{o.name}}</option>
        </select>
        ${graph_template}
      </div>`;
    </script>

    <script type="text/x-template" id="quarter-template">
      <div class="sidebar-libera-content"> 
        <p v-if="title">						
          <b>{{title}}</b>	
        </p> 
        <table class="w3-table " style="padding:2px; margin-bottom: 15px;"> 
          <tbody> 
            <slot> 
            </slot> 
          </tbody> 
        </table> 
      </div>
    </script>


    <script type="text/x-template" id="table-template">
      <table class="w3-table " style="padding:2px; margin-bottom: 15px;"> 
        <col width="50%"/>
        <col width="50%"/>
        <tbody> 
          <slot> 
          </slot> 
        </tbody> 
      </table> 
    </script>

    <script type="text/x-template" id="accordion-container">
      <div>
        <button class="accordion w3-button w3-block w3-left-align ireg-node-set-name itech-button settingsAccButton" :class="template_button_class" @click="enableSidebarAccordionEventListeners" >{{title}}</button>
        <div class="panel" :class="template_panel_class">
          <slot> 
          </slot> 
        </div>
      </div>
    </script>


    <script src="static/js/vue/vue.2.6.10.min.js"></script>
    <script src="static/entry.js"> </script>
  </body>
</html>
